





--TRUNCATE TABLE Tools.dbo.LogShippingConfiguration
--SELECT * FROM  Tools.dbo.LogShippingConfiguration


--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('PortalDistributedCache', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\PortalDistributedCache\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\PortalDistributedCache\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\PortalDistributedCache\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Venus_Live', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage1\SQLBackups\SQL-CL01$AG01\Venus_Live\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage1\SQLBackups\SQL-CL01$AG01\Venus_Live\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage1\SQLBackups\SQL-CL01$AG01\Venus_Live\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('CreditChecks', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\CreditChecks\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\CreditChecks\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\CreditChecks\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DataScience', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataScience\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataScience\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataScience\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('RSDocuments', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage06\SQLBackups\SQL-CL01$AG01\RSDocuments\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage06\SQLBackups\SQL-CL01$AG01\RSDocuments\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage06\SQLBackups\SQL-CL01$AG01\RSDocuments\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('RSLogs', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage08\SQLBackups\SQL-CL01$AG01\RSLogs\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage08\SQLBackups\SQL-CL01$AG01\RSLogs\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage08\SQLBackups\SQL-CL01$AG01\RSLogs\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Venus_Auth', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Venus_Auth\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Venus_Auth\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Venus_Auth\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Venus_LogsAdmin', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Venus_LogsAdmin\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Venus_LogsAdmin\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Venus_LogsAdmin\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Umbraco_Business', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Umbraco_Business\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Umbraco_Business\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Umbraco_Business\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('BorrowerLoan', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\BorrowerLoan\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\BorrowerLoan\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\BorrowerLoan\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('MotorFinanceCollections', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\MotorFinanceCollections\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\MotorFinanceCollections\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\MotorFinanceCollections\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Umbraco_Public', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Umbraco_Public\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Umbraco_Public\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Umbraco_Public\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('VehicleData', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\VehicleData\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\VehicleData\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\VehicleData\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('IntroducerUsers', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\IntroducerUsers\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\IntroducerUsers\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\IntroducerUsers\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('UserAuthentication', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\UserAuthentication\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\UserAuthentication\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\UserAuthentication\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_DataProvider_CallCredit', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_CallCredit\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_CallCredit\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_CallCredit\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('CreditBureauReporting', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\CreditBureauReporting\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\CreditBureauReporting\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\CreditBureauReporting\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_DataProvider_DecisionEngine', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_DecisionEngine\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_DecisionEngine\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_DecisionEngine\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_StageEditor', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_StageEditor\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_StageEditor\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_StageEditor\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_PreProcessor', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_PreProcessor\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_PreProcessor\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_PreProcessor\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_DataProviders_Gateway', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProviders_Gateway\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProviders_Gateway\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProviders_Gateway\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_DataProvider_Venus', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_Venus\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_Venus\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_Venus\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_DataProvider_Equifax', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_Equifax\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_Equifax\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_DataProvider_Equifax\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Lender', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Lender\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Lender\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Lender\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('NotificationsWebHooks', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\NotificationsWebHooks\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\NotificationsWebHooks\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\NotificationsWebHooks\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DealershipPortal', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DealershipPortal\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DealershipPortal\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DealershipPortal\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('AdobeeSign', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AdobeeSign\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AdobeeSign\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AdobeeSign\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('InvestorMoneyOutHolding', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\InvestorMoneyOutHolding\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\InvestorMoneyOutHolding\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\InvestorMoneyOutHolding\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('PaymentSchedule', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\PaymentSchedule\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\PaymentSchedule\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\PaymentSchedule\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DocumentManagement', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DocumentManagement\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DocumentManagement\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DocumentManagement\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('TokenManager', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\TokenManager\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\TokenManager\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\TokenManager\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('AdviserManagement', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AdviserManagement\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AdviserManagement\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AdviserManagement\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Phoenix_Episerver', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Phoenix_Episerver\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Phoenix_Episerver\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Phoenix_Episerver\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('NotificationsServiceLog', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\NotificationsServiceLog\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\NotificationsServiceLog\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\NotificationsServiceLog\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Bureau_Equifax', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_Equifax\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_Equifax\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_Equifax\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DataProvider_Emailage', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataProvider_Emailage\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataProvider_Emailage\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataProvider_Emailage\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DecisionEngine_StrategyEditor', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_StrategyEditor\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_StrategyEditor\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DecisionEngine_StrategyEditor\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Bureau_CallCredit', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_CallCredit\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_CallCredit\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_CallCredit\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Bureau_CIFAS', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_CIFAS\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_CIFAS\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_CIFAS\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DistributedSettlement', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DistributedSettlement\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DistributedSettlement\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DistributedSettlement\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Pricing', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Pricing\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Pricing\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Pricing\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('DataProvider_CIFAS', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataProvider_CIFAS\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataProvider_CIFAS\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\DataProvider_CIFAS\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('MockService', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\MockService\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\MockService\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\MockService\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Bureau_RDC', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_RDC\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_RDC\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Bureau_RDC\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('Dataprovider_RDC', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Dataprovider_RDC\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Dataprovider_RDC\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\Dataprovider_RDC\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
--INSERT INTO  [Tools].[dbo].[LogShippingConfiguration] ( [DatabaseName], [IsActive] , [LogBackupPath] , [FullBackupPath] , [DiffBackupPath] , [LowPriorityDelayInMinutes] ,[MediumPriorityDelayInMinutes] , [HighPriorityDelayInMinutes] , [EmailList] , [RstoreWithRecovery] ,[RestartShipping] , [LogFileNamePattern]) VALUES ('AuditTrail', 0, N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AuditTrail\LOG\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AuditTrail\FULL\', N'\\rsstandardstorage.file.core.windows.net\sqlstorage04\SQLBackups\SQL-CL01$AG01\AuditTrail\DIFF\', 80, 120, 160, N'sandip.patel@ratesetter.com', 0, 0, N'SQL-CL01$AG01_%_LOG_%.trn' )
 

-- SELECT * FROM  Tools.dbo.LogShippingConfiguration
 
-- ---- To Start applying Tranaction logs Run update on Either All or Specific database. This Will Restore Full,recent Diff and Remaining Tranaction Logs   
--UPDATE Tools.dbo.LogShippingConfiguration SET IsActive = 0, RestartShipping = 1 WHERE DatabaseName IN (SELECT name FROM Sys.databases)



 --SELECT * FROM  Tools.dbo.LogShippingConfiguration WHERE IsActive = 0 and RestartShipping = 1

SELECT * FROM 
(
	SELECT  *,
		   ROW_NUMBER() Over(partition BY databasename,	   CASE WHEN [FileName] LIKE '%Full%' THEN 'Full'
				WHEN [FileName] LIKE '%Diff%' THEN 'Diff'
				WHEN [filename] LIKE '%Log%' THEN 'Log' END ORDER BY createdate DESC)RestoreSeq,
		   CASE WHEN [FileName] LIKE '%Full%' THEN 'Full'
				WHEN [FileName] LIKE '%Diff%' THEN 'Diff'
				WHEN [filename] LIKE '%Log%' THEN 'Log' END RestoreType
	FROM Tools.dbo.LogShippingRestoreLog
	--WHERE databasename IN (SELECT  DatabaseName FROM  Tools.dbo.LogShippingConfiguration WHERE IsActive = 1)
)A
WHERE a.RestoreSeq =1 AND A.DatabaseName IN (SELECT name FROM Sys.databases)
ORDER BY A.DatabaseName,A.FileTimeStamp 




























